html,body {
    height:100%;width:100% !important } 
body {
    margin:0;
    padding:0;
    background-image: url("images/Juliette-stade.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

#MainText {
    color: #ffffffef;
    text-align: center !important;
    font-family:Helvetica 
}

#mainDiv {
    color: #ffffffef;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex !important;
    flex-direction: column !important;
}

#logo {
    height: 35vh;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    body {
        background-size: cover;
        background-attachment:fixed
    }
    #mainDiv {
        color: #ffffffef;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        position:relative;
        z-index: 8;
        align-items: center;
        justify-content: center;
        display: flex !important;
        flex-direction: column !important;
    }

    #logo {
        height: 125px;
        vertical-align: middle;
        position: relative;
        border-style: dashed; /*CHECK MOBILE */
    }
    

}

h1 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}
